*{
    
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.logoname{
    font-family: "Playwrite DE LA", cursive;
}
.wave-container {
  background:rgb(253, 253, 194);
  color: white;
  background-size: cover;
  text-align: center;
  padding: 50px 20px;
  position: relative;
  overflow: hidden;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px;
}
.Homehead{
    font-family: "Dancing Script", cursive;
}
.descriptionhome{
    font-family: "Italianno", cursive;
}
.browse{
     font-family: "Caveat", cursive;
}
.favorites{
    background: url('./images/favbg.jpeg');
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}
.summerSpecial{
    background: linear-gradient(135deg, #6a0dad 50%, #ff4fa1 50%);
}
.sumSpcl{
    font-family: "Norican", cursive;
}
.off{
    background-image: linear-gradient(yellow,yellow,white);
}
::-webkit-scrollbar{
    background-color: #6a0dad;
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: #ff4fa1;
    border-radius: 20px;
}